.Section__row {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-right: 334px;
}

.Section__row:first-child {
  padding-left: 0;
  margin-bottom: 120px;
}

.Section__row:last-child {
  flex-direction: row-reverse;
}

.Section__title {
  text-transform: uppercase;
  margin-bottom: 120px;
  line-height: 1.3;
}

.Section__row:first-child .Section__column {
  width: 40%;
}

.Section__row:last-child .Section__column {
  width: 47%;
}

.Section__columnTitle {
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 25px;
}

.Section__columnDescription {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
}

.Section__columnDescription p:not(:last-child) {
  margin-bottom: 10px;
}

.Section__row:first-child .Section__imgWrapper {
  width: 60%;
  max-width: 860px;
}

.Section__row:last-child .Section__imgWrapper {
  width: 53%;
  max-width: 599px;
}

@media screen and (max-width: 1700px) {
  .Section__row {
    padding-right: 234px;
  }
}

@media screen and (max-width: 1440px) {
  .Section__row {
    padding-right: 164px;
  }
}

@media screen and (max-width: 950px) {
  .Section__title {
    margin-bottom: 64px;
    max-width: 65%;
  }

  .Section__row:first-child {
    margin-bottom: 56px;
  }

  .Section__row:first-child,
  .Section__row:last-child {
    flex-direction: column;
    padding: 0;
  }

  .Section__row:first-child .Section__imgWrapper,
  .Section__row:last-child .Section__imgWrapper {
    width: 100%;
    max-width: 100%;
    height: 370px;
  }

  .Section__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .Section__row:first-child .Section__column,
  .Section__row:last-child .Section__column {
    width: 100%;
    padding: 0 20px;
  }

  .Section__columnTitle {
    max-width: 80%;
  }

  .Section__columnDescription {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .Section__columnTitle {
    max-width: 100%;
  }
}
